/* Estilos gerais */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/css/imagens/cinza.jpg') no-repeat center center fixed;
    background-size:cover;
}

/* Container principal */
.container {
    display: flex;
    width: 100%;
    height: 600px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

/* Painel esquerdo */
.left-panel {
    width: 60%;
    background: url('/css/imagens/usp.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
    /*white-space: nowrap; /* Evita quebra de linha */
    /*overflow: hidden; /* Garante que textos longos não ultrapassem os limites */
    /*text-overflow: ellipsis; /* Adiciona reticências caso o texto seja muito longo */
}

.left-panel h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.left-panel p {
    font-size: 1rem;
    line-height: 1.5;
}

/* Painel direito */
.right-panel {
    width: 40%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinha os elementos ao topo */
    align-items: center;
    padding: 40px;
}

.right-panel h1{
    color: gray;
    
}

.logo {
    width: 300px;
    margin-bottom: 1px;
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: white;
}

form {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

form button {
    padding: 10px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

.options {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
}

.error-message {
    color: red;
    font-size: 0.9rem;
}

.signup {
    margin-top: 20px;
    font-size: 0.9rem;
}

.signup a {
    color: orange;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}
