<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <header class="menu-principal">
            <nav>
                <ul>
                    <li><a href="/cadastro">Cadastrar Entrega</a></li>
                    <li><a href="/material/cadastro">Cadastrar Material</a></li>
                    <li><a href="/obra/cadastro">Cadastrar Proprietário e Obra</a></li>
                    <li><a href="/listaEntrega">Listar Entregas</a></li>
                    <li><a href="/estoque">Listar Estoque</a></li>
                </ul>
            </nav>
        </header>
        <div class="page-wrapper">
        <main class="container">
            <form th:action="@{/entrega/atualizar}" method="post">
                <input type="hidden" th:value="${entrega.id}" name="id"/>

                <label for="material">Material:</label>
                <select id="material" name="materialId" th:value="${entrega.material.id}">
                    <option th:each="material : ${materiais}" th:value="${material.id}" th:text="${material.descricaoMaterial}" 
                            th:selected="${material.id == entrega.material.id}"></option>
                </select>

                <label for="quantidade">Quantidade:</label>
                <input id="quantidade" type="number" step="0.01" th:value="${entrega.quantidadeEntrega}" name="quantidade"/>

                <label for="dataRecebimento">Data de Recebimento:</label>
                <input id="dataRecebimento" type="date" th:value="${entrega.dataRecebimento}" name="dataRecebimento"/>

                <label for="obra">Obra:</label>
                <select id="obra" name="obraId" th:value="${entrega.obra.id}">
                    <option th:each="obra : ${obras}" th:value="${obra.id}" th:text="${obra.nomeProprietario}" 
                            th:selected="${obra.id == entrega.obra.id}"></option>
                </select>
                <p></p>
                <button type="submit" class="btn btn-success">Atualizar</button>
            </form>
        </main>
        <footer class="rodape">
            <div class="social-media">
                <a href="#">Fale Conosco</a>
                <a href="#">WhatsApp</a>
                <a href="#">Facebook</a>
                <a href="#">Instagram</a>
            </div>
        </footer>
            </div>
    </body>
</html>
