<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lista de Entregas</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <header class="menu-principal">
            <nav>
                <ul>
                    <li><a href="/cadastro">Cadastrar Entrega</a></li>
                    <li><a href="/material/cadastro">Cadastrar Material</a></li>
                    <li><a href="/obra/cadastro">Cadastrar Proprietário e Obra</a></li>
                    <li><a href="/listaEntrega">Listar Entregas</a></li>
                    <li><a href="/estoque">Listar Estoque</a></li>
                </ul>
            </nav>
        </header>
        <div class="page-wrapper">
        <main class="container">
            <h2>Lista de Entregas</h2>
            <table>
                <thead>
                    <tr>
                        <th>Descrição</th>
                        <th>Quantidade</th>
                        <th>Data</th>
                        <th>Local (Obra)</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="entrega : ${entregas}">
                        <td th:text="${entrega.id}">ID</td>
                        <td th:text="${entrega.material.descricaoMaterial}">Material</td>
                        <td th:text="${entrega.quantidadeEntrega}">Quantidade</td>
                        <td th:text="${entrega.dataRecebimento}">Data</td>
                        <td th:text="${entrega.obra.nomeProprietario}">Obra</td>
                        <td>
                            <div class="dropdown">
                                <button class="dropdown-btn">▼</button>
                                <div class="dropdown-content">
                                    <a th:href="@{/entrega/editar/{id}(id=${entrega.id})}">Editar</a>
                                    <a th:href="@{/entrega/deletar/{id}(id=${entrega.id})}">Excluir</a>
                                    <form th:action="@{'/entrega/confirmarEntrega/' + ${entrega.id}}" method="post" style="margin: 0;">

                                        <button type="submit" class="btn btn-success">Entrega Recebida</button>
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </main>
        <footer class="rodape">
            <div class="social-media">
                <a href="#">Fale Conosco</a>
                <a href="#">WhatsApp</a>
                <a href="#">Facebook</a>
                <a href="#">Instagram</a>
            </div>
        </footer>
            </div>
        <script src="/js/script.js"></script>
    </body>
</html>
