<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Consultar Estoque</title>
        <link rel="stylesheet" href="/css/styles.css">

    </head>
    <body>
        <header class="menu-principal">
            <nav>
                <ul>
                    <li><a href="/cadastro">Cadastrar Entrega</a></li>
                    <li><a href="/material/cadastro">Cadastrar Material</a></li>
                    <li><a href="/obra/cadastro">Cadastrar Proprietário e Obra</a></li>
                    <li><a href="/listaEntrega">Listar Entregas</a></li>
                    <li><a href="/estoque">Listar Estoque</a></li>
                </ul>
            </nav>
        </header>
        <main class="container">
            <h2>Consultar Estoque</h2>
            <form action="/estoque" method="get">
                <label for="obra">Filtrar por obra:</label>
                <input 
                    type="text" 
                    id="filtro" 
                    name="filtro" 
                    placeholder="Digite o nome ou a rua" 
                    th:value="${filtro}">
                <button type="submit">Filtrar</button>
            </form>

            <table>
                <thead>
                    <tr>
                        <th>Material</th>
                        <th>Quantidade</th>
                        <th>Obra</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="estoque : ${estoques}">
                        <td th:text="${estoque.material.descricaoMaterial}">Material</td>
                        <td th:text="${estoque.quantidadeEstoque}">Quantidade</td>
                        <td th:text="${estoque.obra.nomeProprietario}">Obra</td>
                        <td>
                            <a th:href="@{'/relatorioUso/' + ${estoque.id}}">Relatório de Uso</a>
                        </td>
                        <td>
                            <a th:href="@{/estoque/editar/{id}(id=${estoque.id})}" class="btn btn-primary">Editar</a>
                        </td>
                        <td>
                            <a th:href="@{/estoque/deletar/{id}(id=${estoque.id})}" class="btn btn-primary">Excluir</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="buttons-container">
                <button onclick="location.href = '/menu'">Voltar ao Menu</button>
            </div>
        </main>

        <footer class="rodape">
            <div class="social-media">
                <a href="#">Fale Conosco</a>
                <a href="#">WhatsApp</a>
                <a href="#">Facebook</a>
                <a href="#">Instagram</a>
            </div>
        </footer>
    </body>
</html>
