<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css" />
</head>
<body>
    <div class="container">
        <div class="left-panel">
            <div class="welcome-message">
                <h1>Welcome Back</h1>
                <p>Nice to see you again! Access your account to continue your journey.</p>
            </div>
        </div>
        <div class="right-panel">
            <img src="logo.png" alt="Logo" class="logo">
            <h1>Login Account</h1>
            
            <!-- Mensagem de erro -->
            <p th:if="${erro}" th:text="${erro}" class="error-message"></p>
            
            <form action="/login" method="post">
                <input type="text" name="login" placeholder="Email ID" required>
                <input type="password" name="senha" placeholder="Password" required>
                <div class="options">
                    <label><input type="checkbox" name="keepMeSignedIn"> Keep me signed in</label>
                    <a href="/forgot-password">Forgot Password?</a>
                </div>
                <button type="submit">Subscribe</button>
            </form>
            
            <p class="signup">Already a member? <a href="/cadastro-login">Sign up here</a></p>
        </div>
    </div>
</body>
</html>
