<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    <div class="login-container">
        <img src="logo.png" alt="Logo">
        <h1>Login</h1>
        
        <!-- Mensagem de erro -->
        <p th:if="${erro}" th:text="${erro}" style="color: red;"></p>
        
        <form action="/login" method="post">
            <input type="text" name="login" placeholder="Login" required>
            <input type="password" name="senha" placeholder="Senha" required>
            <button type="submit">Entrar</button>
        </form>
        
        <p>Não possui cadastro? <a href="/cadastro-login">Cadastre-se aqui</a></p>
    </div>
</body>
</html>
